<%= form_with(model: do, local: true) do |form| %>
  <% if do.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(do.errors.count, "error") %> prohibited this do from being saved:</h2>

      <ul>
        <% do.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="field">
    <%= form.label :isCompleted %>
    <%= form.check_box :isCompleted %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
