<p id="notice"><%= notice %></p>

<h1>Dos</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Iscompleted</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dos.each do |do| %>
      <tr>
        <td><%= do.text %></td>
        <td><%= do.isCompleted %></td>
        <td><%= do.project_id %></td>
        <td><%= link_to 'Show', do %></td>
        <td><%= link_to 'Edit', edit_do_path(do) %></td>
        <td><%= link_to 'Destroy', do, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Do', new_do_path %>
